doctype html
html.no-js
  head
    meta(charset='utf-8')
    title My Webapp
    meta(name='description' content='')
    meta(name='viewport' content='width=device-width, initial-scale=1')
    // Place favicon.ico and apple-touch-icon.png in the root directory
    // build:css styles/vendor.css
    // bower:css
    // endbower
    // endbuild
    // build:css styles/main.css
    link(rel='stylesheet' href='styles/reset.css')
    link(rel='stylesheet' href='styles/main.css')
    // endbuild
    // build:js scripts/vendor/modernizr.js
    script(src='../bower_components/modernizr/modernizr.js')
    // endbuild
  body
    header
      .overlay
        h1 Music
        .btn.btn-success(data-toggle="modal", data-target="#add-music") Добавить
    section#music-app
      block content
      #add-music.modal.fade
        //include ../modal/form-popup
        block addMusic

    script(type="text/template", id="item-template").
      <div class="view row">
        <div class="details col-md-1"></div>
        <div class="title col-md-5"><%- title %></div>
        <audio controls src=<%- song %> class="col-md-5"></audio>
        <div class="delete col-md-1"></div>
      </div>
      <div class="view-details collapse">
        <form class="form-horizontal">
          <div class="form-group">
            <label for="det-performer" class="col-md-3 control-label">Исполнитель:</label>
            <div class="col-md-8">
              <input id="det-performer" type="text" placeholder="Исполнитель" value=<%- performer %> class="form-control">
            </div>
            <div class="col-md-1 delete"></div>
          </div>
          <div class="form-group">
            <label for="det-title" class="col-md-3 control-label">Название:</label>
            <div class="col-md-8">
              <input id="det-title" type="text" placeholder="Название" value="<%- title %>" class="form-control">
            </div>
            <div class="col-md-1 delete"></div>
          </div>
          <div class="form-group">
            <label for="det-genre" class="col-md-3 control-label">Жанр:</label>
            <div class="col-md-8">
              <input id="det-genre" type="text" placeholder="Жанр" value=<%- genre %> class="form-control">
            </div>
            <div class="col-md-1 delete"></div>
          </div>
          <div class="form-group">
            <label for="det-song" class="col-md-3 control-label">URL песни:</label>
            <div class="col-md-8">
              <input id="det-song" type="text" placeholder="URL песни" value=<%- song %> class="form-control">
            </div>
            <div class="col-md-1 delete"></div>
          </div>
        </form>
      </div>

    // build:js scripts/vendor.js
    // bower:js
    script(src='../bower_components/jquery/dist/jquery.js')
    script(src='../bower_components/underscore/underscore.js')
    script(src='../bower_components/backbone/backbone.js')
    script(src='../bower_components/backbone.validation/dist/backbone-validation.js')
    script(src='../bower_components/backbone.localStorage/backbone.localStorage.js')
    // endbower
    // endbuild
    // build:js scripts/plugins.js
    script(src='../bower_components/bootstrap-sass/assets/javascripts/bootstrap/affix.js')
    script(src='../bower_components/bootstrap-sass/assets/javascripts/bootstrap/alert.js')
    script(src='../bower_components/bootstrap-sass/assets/javascripts/bootstrap/dropdown.js')
    script(src='../bower_components/bootstrap-sass/assets/javascripts/bootstrap/tooltip.js')
    script(src='../bower_components/bootstrap-sass/assets/javascripts/bootstrap/modal.js')
    script(src='../bower_components/bootstrap-sass/assets/javascripts/bootstrap/transition.js')
    script(src='../bower_components/bootstrap-sass/assets/javascripts/bootstrap/button.js')
    script(src='../bower_components/bootstrap-sass/assets/javascripts/bootstrap/popover.js')
    script(src='../bower_components/bootstrap-sass/assets/javascripts/bootstrap/carousel.js')
    script(src='../bower_components/bootstrap-sass/assets/javascripts/bootstrap/scrollspy.js')
    script(src='../bower_components/bootstrap-sass/assets/javascripts/bootstrap/collapse.js')
    script(src='../bower_components/bootstrap-sass/assets/javascripts/bootstrap/tab.js')
    // endbuild
    // build:js scripts/main.js
    script(src='scripts/main.js')
    // endbuild
